---
import { HeroSocial } from '@/shared/HeroSocial';
import { AppConfig } from '../utils/AppConfig';
import { Section } from '@/shared/Section';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class='bg-slate-900 text-gray-100'>
    <Section>
      <div class='flex justify-end gap-2'>
        <a href="https://github.com/ramirospinelli">
          <HeroSocial src="/src/assets/images/github.png" alt="Github icon" />
        </a>
        <a href="https://www.linkedin.com/in/ramiro-spinelli/">
          <HeroSocial src="/src/assets/images/linkedin.png" alt="Linkedin icon" />
        </a>
        <a href="https://www.instagram.com/ramirospinelli">
          <HeroSocial
            src="/src/assets/images/instagram.png"
            alt="Instagram icon"
          />
        </a>
      </div>
    </Section>
    <slot></slot>
  </body>
</html>
